

input[type="date"]::-webkit-calendar-picker-indicator {
    /* color: rgba(160, 160, 160, 0); */
    /* opacity: 1; */
    /* padding-left: 20px; */
    /* margin-left: 150px; */
    display: block;
    background: url('../images/new.png') no-repeat;
    /* width: 200px; */
    /* height: px; */
    /* margin-top: 30px; */
    padding-top: 10px;
    border-width: thin;
}

input[type="date"]{
    width:376px;
    
}